@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: fallback;
}

@font-face {
  font-family: "Eet Route";
  src: url("../fonts/eet_route.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: fallback;
}

* {
  font-family: "Onest", "Arial", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

header {
  height: min(7.6dvw, 11dvh);
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
}

h2 {
  font-size: min(2.2dvw, 3.2dvh);
}

h3 {
  font-size: min(1.4dvw, 2dvh);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: min(1dvw, 1.5dvh) min(1.7dvw, 2.5dvh);
  gap: min(1dvw, 1.5dvh);
  height: 100%;
  display: flex;
}

nav {
  padding: min(0.7dvw, 1dvh);
  gap: min(0.7dvw, 1dvh);
}

nav > button {
  padding: min(0.8dvw, 1.2dvh) min(1.4dvw, 2dvh);
  gap: min(1dvw, 1.5dvh);
  display: flex;
  width: min(18dvw, 25.8dvh);
  background-color: #e9e9e9;
  border-radius: min(0.8dvw, 1.2dvh);
  font-size: min(1.4dvw, 2dvh);

  svg {
    height: min(1.7dvw, 2.4dvh);
    width: min(1.7dvw, 2.4dvh);

    path,
    circle {
      fill: #3f3f3f;
    }
  }
}

nav > button.active-tab {
  background-color: #3e8de9;

  svg {
    path,
    circle {
      fill: #ffffff;
    }
  }

  p {
    color: #ffffff;
  }
}

main {
  padding: min(0.7dvw, 1dvh);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-selection {
  padding: min(1.4dvw, 2dvh) 0;
  gap: min(1dvw, 1.5dvh);
  width: 21.9dvw;

  h2 {
    text-align: center;
  }

  .list {
    padding: min(1dvw, 1.5dvh);
    gap: min(0.7dvw, 1dvh);
    background-color: #e9e9e9;
    border-radius: min(1.7dvw, 2.5dvh);
    height: 100%;

    .list-entry {
      padding: min(1dvw, 1.5dvh) min(1.4dvw, 2dvh);
      gap: min(0.7dvw, 1dvh);
      background-color: #cdcdcd;
      border-radius: min(1.4dvw, 2dvh);
    }
  }
}

.route-info > p,
.route-status {
  font-size: min(1.1dvw, 1.6dvh);
}

.modify-info {
  padding: min(1dvw, 1.5dvh);
  gap: min(0.7dvw, 1dvh);
  width: 49.3dvw;

  #selected-routes {
    padding: min(1dvw, 1.5dvh) min(0.7dvw, 1dvh);
    gap: min(0.7dvw, 1dvh);

    #selected-routes-container {
      padding: min(1dvw, 1.5dvh);
      display: flex;
      gap: min(1dvw, 1.5dvh);
      min-height: min(5.6dvw, 8.1dvh);
      background-color: #e9e9e9;
      border-radius: min(1.7dvw, 2.5dvh);

      .route-chip {
        padding: min(0.7dvw, 1dvh) min(1.4dvw, 2dvh);
        display: flex;
        align-items: center;
        gap: min(0.7dvw, 1dvh);
        background-color: #3e8de9;
        color: #ffffff;
        border-radius: min(1.4dvw, 2dvh);

        .route-chip-number {
          font-size: min(1.6dvw, 2.4dvh);
          font-weight: 700;
        }

        svg {
          height: min(1.7dvw, 2.4dvh);
          width: min(1.7dvw, 2.4dvh);

          path {
            fill: #ffffff;
          }
        }
      }
    }
  }

  #new-state {
    padding: min(1dvw, 1.5dvh) min(0.7dvw, 1dvh);
    gap: min(1dvw, 1.5dvh);

    #new-state-buttons {
      width: fit-content;
      display: flex;
      gap: min(1.7dvw, 2.5dvh);

      button {
        padding: min(0.7dvw, 1dvh) min(1.4dvw, 2dvh);
        background-color: #e9e9e9;
        border-radius: min(1.6dvw, 2.2dvh);
        font-size: min(1.7dvw, 2.4dvh);
        font-weight: 500;
      }

      button:first-child {
        padding-inline: min(1.7dvw, 2.5dvh);
        background-color: #d50303;
        color: #ffffff;
      }
    }
  }

  #update-reason {
    height: 100%;
    padding: min(0.7dvw, 1dvh);
    gap: min(0.7dvw, 1dvh);

    #update-reason-text {
      height: 100%;
      resize: none;
      padding: min(1dvw, 1.5dvh) min(1.7dvw, 2.5dvh);
      background-color: #e9e9e9;
      border: none;
      border-radius: min(1.7dvw, 2.5dvh);
    }
  }

  #control-buttons {
    padding: min(0.7dvw, 1dvh);
    display: flex;
    gap: min(1.7dvw, 2.5dvh);

    button {
      width: 100%;
      padding: min(1dvw, 1.5dvh) min(1.7dvw, 2.5dvh);
      font-size: min(1.6dvw, 2.4dvh);
      font-weight: 600;
      background-color: #e9e9e9;
      border-radius: min(1.6dvw, 2.2dvh);
      color: #404040;
    }

    button:nth-child(2) {
      background-color: #3e8de9;
      color: #ffffff;
    }
  }
}
